---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/#contact">Contact</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.facebook.com/aleksandra.dikanska/?locale=bg_BG" target="_blank" rel="noreferrer">
				<span class="sr-only">Follow Aleksandra Dikanska on Facebook</span>
				<span aria-hidden="true">FB</span>
			</a>
			<a href="https://www.linkedin.com/in/aleksandradikanska/?originalSubdomain=bg" target="_blank" rel="noreferrer">
				<span class="sr-only">Connect on LinkedIn</span>
				<span aria-hidden="true">IN</span>
			</a>
			<a href="https://www.facebook.com/aleksandradikanskaphotography/" target="_blank" rel="noreferrer">
				<span class="sr-only">Follow Alex D Photography on Facebook</span>
				<span aria-hidden="true">Photo</span>
			</a>
			<a href="https://www.instagram.com/aleksandra_dikanska/" target="_blank" rel="noreferrer">
				<span class="sr-only">Follow on Instagram</span>
				<span aria-hidden="true">IG</span>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	.social-links a {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		font-size: 0.75rem;
		font-weight: 600;
		background: rgba(var(--gray-light), 0.7);
		margin-left: 0.35rem;
		text-transform: uppercase;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
